<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421411045019-nrijqudii22n3dgres3di95ga0o4pqec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421411045019-nrijqudii22n3dgres3di95ga0o4pqec</string>
	<key>API_KEY</key>
	<string>AIzaSyB8vssQJlsJmq2_w5Qun499yDI9ovf98KE</string>
	<key>GCM_SENDER_ID</key>
	<string>421411045019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Dayton.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-f7125</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-f7125.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421411045019:ios:003fd7bfb471c9b3af103e</string>
</dict>
</plist>